<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
				http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
				
	<!-- 컴퍼넌트 스캔 -->
	<context:component-scan base-package="main, member,cs, util,product"/>
	
	<!-- 어노테이션 활성화 -->
	<mvc:annotation-driven/>
	
	<!-- default servlet -->
	<mvc:default-servlet-handler/>
	
	<!-- viewresolver -->
	<mvc:view-resolvers>
		<mvc:jsp prefix="/WEB-INF/view/"/>
		<mvc:jsp suffix=".jsp"/>
	</mvc:view-resolvers>
	
	<!-- DBCP 빈등록 -->
	<bean id="dataSource1" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/tproject"/>
		<property name="username" value="root"/>
		<property name="password" value="root1234"/>
	</bean>
	
	<!-- SqlSessionFactory -->
	<bean id="sqlSessionFactory1" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource1"/>
		<property name="mapperLocations" value="classpath:/mapper/**/*.xml"/>
	</bean>
	
	<!-- dao에서 주입받을 객체 -->
	<bean id="sqlSessionTemplate1" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory1"/>
	</bean>
	
	<bean id="dataSource2" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/ebay"/>
		<property name="username" value="root"/>
		<property name="password" value="root1234"/>
	</bean>
	
	<!-- SqlSessionFactory -->
	<bean id="sqlSessionFactory2" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource2"/>
		<property name="mapperLocations" value="classpath:/mapper/**/*.xml"/>
	</bean>
	
	<!-- dao에서 주입받을 객체 -->
	<bean id="sqlSessionTemplate2" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory2"/>
	</bean>
	
	<!-- 파일 업로드 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8"></property>
		<property name="maxUploadSize" value="10000000"></property>
	</bean>
	
	
</beans>