* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.wrap {
    width:100%;
    margin : 0 auto;
}
.logo{
    float : left;
}
.header {
    width:1200px;
    margin:0 auto;
    text-align: center;
    padding:10px 20px;
}
.size {position: relative;}
.header > .size > .login {
    position:absolute;
    top:0;
    right:0;
}
.search_form {
    border-style: solid;
    border-width: 900px;
    border-radius: 25px;
    padding: 4px 15px;
    float: auto;
}
.search_form {
        float: middle;
        display: inline-flex;
        background: #FFFFFF;
        border: 1px solid #61666D;

                }
.placeholder {
        padding-left: -5px;
        float: middle;
        display: inline-flex;
}
.autoKeyword {
    padding-bottom: 10px;
}
.menu {
    width:1200px;
    margin:0 auto;
    height:40px;
}
.menu > ul > li {
    list-style: none;
    border:1px solid #000000;
    background-color: #fff;
    color:#000000;
    text-align: center;
    float:left;
    width: 16.6%;
    height:40px;
    line-height: 40px;
}
.menu > ul > li > a:hover {
    background-color: #999;
    color:#fff;
}
ul, li {
    list-style: none;
    position:relative;
}
.depth2 {
    width:100%;
    z-index:10;
    background-color: #fff;
    display: none;
}
.depth1 > li > a {
    display:block;
}
.depth2 > li > a {
    display:block;
}
a {
    text-decoration: none;
}
.section_1 {
    width:1200px;
    margin:0 auto;
}
.section_1 > .content_1 {
    width:60%;
    float:left;
    padding:20px 20px;
}
.section_1 > .content_2 {
    width:40%;
    float:left;
    padding:20px 20px;
}
.section_1 > .content_1 > .now_auction {
    width:100%;
    height:350px;
    border:1px solid #999;
    padding:20px;
}
.section_1 > .content_1 > .now_auction > .best_title {
    font-size:10px;
    line-height: 50px;
    float:left;
    cursor:pointer;
    width:95px;
    text-align: center;
}
.section_1 > .content_1 > .now_auction > .best_title.on {
    color:#fff;
    background-color: #d3d3d3;
}
.section_1 > .content_1 > .now_auction > .now_auction > ul {
    clear:both;
}
.now_action_area > ul > li{
    font-size: 15px;
    line-height: 30px;
    border-bottom: 1px solid #d3d3d3;
    list-style: none;
}
.now_action_area > ul:first-child{
    padding-top: 50px;
    border-top:1px solid #d3d3d3;
} /*첫번째 자식*/
.now_action_area > ul > li > span {
    float :right;
}
#best_sales {display: none;}
#best_recent {display: none;}
#best_price {display: none;}
#best_success {display: none;}
#best_ing {display: none;}

.section_1 > .content_2 > .my_info {
    width:100%;
    height:350px;
    border:1px solid #999;
    padding:20px 20px;
}
.section_1 > .content_2 > .my_info >.login_info {
    font-size: 20px;
    padding:20px;
    
}
.login_info{
    padding: 50px 20px;
}
.login_info > .login_regist > .login {
    width:50%;
    float:right;
}
.login_info > .login_regist > .regist {
    width:50%;
    float:left;
}
.info > .content > .notice_area {
    width:100%;
    height:400px;
    border:1px solid #999;
    padding:10px;
}
.info > .content > .notice_area > .notice_title {
    font-size:25px;
    line-height: 50px;
    float:left;
    width:100px;
    text-align: center;
}
.info > .content > .notice_area > .notice_content > ul {
    clear:both;
}
.notice_content > ul > li{
    font-size: 10px;
    line-height: 40px;
    border-bottom: 1px solid #d3d3d3;
}
.notice_content > ul:first-child{border-top:1px solid #d3d3d3;} /*첫번째 자식*/
.notice_content > ul > li > span {
    float :right;
}
#find{
    font-size: 15px;
    text-align: right;
}
.section_2 {
    width:1200px;
    margin:0 auto;
    height: auto;
    
}
.section_2 > .container{
    overflow: hidden;
    height:auto;
}
.section_2 > .container > .size{
    text-align: center; /*가운데정렬*/            
} 
.section_2 > .container > .size > .section{
    float:left; /*왼쪽으로 붙임*/
    width:31.3333333%; /*컨테이너 이미지 3개씩정렬*/
    margin:1%;/*마진에서 1퍼주면 width에서 1%빼면*/
}
.footer {
    width:1200px;
    margin:0 auto;
    background-color: #221f1f;
    color:#999;
    clear:both;
    
}
.footer > .size > .info > p {
    line-height: 25px;
}
/*후기, 낙찰상품, 환율*/
.section_3 {
    width:1200px;
    margin:0 auto;
}
.section_3 > .section > .p_review {
    display: block;
    width:35%;
    float:left;
    height: auto;
    margin-left:10px;
    margin-right: 12px;
    margin-bottom:50px;
}
.section_3 > .section > .p_success {
    display: block;
    width:35%;
    float:left;
    height: auto;
    margin-left:10px;
    margin-right: 12px;
    margin-bottom:50px;
}
.section_3 > .section > .exchange_rate {
    display: block;
    width:20%;
    float:left;
    height: auto;
    margin-left:10px;
    margin-right: 12px;
    margin-bottom:50px;
}
ul{
    list-style: none;
}
.p_review > h2{
    background-color: #fff;
}
#main_verframe{
    overflow: hidden;
    width: 392px;
    height: 251px;
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #e9e9e9;
    border-top: 5px solid #3a4048;
    border-bottom: 5px solid #3a4048;
}
#main_verframe li{
    border-bottom: 1px solid #eee;
    height: 110px;
}
.p_review li,.p_success li{
    display: block;
    height: 120px;
    margin-top: 10px;
    margin-left: 10px;
}
.p_review li a,.p_success li a{
    word-wrap: break-word;
    width: 392px;
    font-size:14px;
}
.p_review li a img ,.p_success li a img{
    float: left;
    max-width: 100px;
    max-height: 100px;
    background: #ccc;
    vertical-align:baseline;
    text-align: center;
    border: none;
}

/*공지사항*/
.cs_body{width:1200px;margin : 0 auto;padding:18px 0 0; margin-top:15px;}
#snb{width:180px; float:left; padding:18px 0 0;}
#snb h2{height:79px; padding:30px 0 0 25px; text-align:left;border-top:1px solid #e8e8e8;border-left:1px solid #e8e8e8;border-right:1px solid #e8e8e8;font-size:23px; font-weight:bold; color:#3399ff;}
#snb .nav{margin-bottom:23px; padding:8px 0 20px 25px;border-left:1px solid #e8e8e8;border-right:1px solid #e8e8e8; border-bottom:1px solid #e8e8e8;}
#snb .nav li{padding:5px 0; font-size:17px; color:#666;}
#snb .nav li a{color:#666;}

#snb + .notice_body{width:968px; float:right; height:auto;}
.top{padding:0 0 11px;}
.top:after{content:''; display:block; clear:both;}
.top .title{padding:0 0 0 13px; float:left; font-size:13px; color:#666;}
.top .Search{float:right; font-size:0;}
.top .Search input[type="text"]{width:205px; height:28px; line-height:28px; padding:0; border:1px solid #e2e2e2; text-indent:15px;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}
.top .Search .srchSelect select{width:85px; height:19px; margin-right:5px; padding:4px 3px 5px 0; border:1px solid #e2e2e2;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

.top .Search .searchWord #searchbtn {width:65px; height:30px; line-height:30px; margin-left:-1px; padding:0; font-size:14px; font-weight:bold;}
.top .Search{float:right;}
.top .Search .srchSelect select{height:19px; margin-right:5px; padding:4px 3px 5px 0; border:1px solid #e2e2e2;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}