.section_1{ 
    width:1200px;
    margin:0 auto;
    padding: 20px;
}
.section_2{
    width:1200px;
    margin:0 auto;
    
}
.section_3{
    width:1200px;
    margin:0 auto;
}
.section_2 > .content_1{
    width:35%;
    height: 370px;
    
    float: left;
    /*display: inline-block;*/
    text-align: center;
    border: 2px solid #0000;
    margin-right: 10px;
    padding-top: 25px;
}
.section_2 >.content_2{
    width:31%;
    height: 370px;
    float: left;
    border: 2px solid #0000;
    text-align: center;
    margin-left: 10px;
    margin-right: 5px;
}
.section_2 >.content_3{
    width:31%;
    height: 370px;
    float: left;
    margin-left: 5px;
    text-align: center;
    border: 2px solid #0000;
}
.content_2 .directbid_price{
    font-size: 23px;
    height: 40px;
    background-color: #999;
    text-align: center;
    color: #000;
    border-bottom: 1px solid #000;
}
.content_2 .infoBox{
    display: inline-block;   
}
.content_2 .infoBox .info td{
    text-align: center;
    width: 200px;
    padding :10px;
}
.content_2 > .priceBox{
    display: inline-block; 
    border-top: 1px solid #000;
}
.content_2 > .priceBox .price{
    margin: 5px;
    text-align: right;
    margin-top:10px;
}
.content_3 .endtime{
    height: 40px;
    font-size: 23px;
    background-color: #999;
    text-align: center;
    color: #000;
    border-bottom: 1px solid #000;
}
.content_3 .productBox{
    display: inline-block;   
    margin-top: 50px;
}
.content_3 .productBox .price td{
    text-align: center;
    width: 200px;
    padding :10px;
}
.th{
    font-weight: bold;
    width: 100px;
    text-align: right;
}
.btn{
    margin-top: 10px;
}
.section_3 > .content_1{
    width:100%;
    height: auto;
    float: left;
    text-align: center;
    border: 2px solid #0000;
    margin-top:20px;
    padding-top: 25px;
}